<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>じゃんけん</title>
</head>
<body>
    <form action="/janken1024" method="get">
        <input type="radio" name="hand" id="gu" value="1">
        <label for="gu">グー</label><br>
        <input type="radio" name="hand" id="tyoki" value="2">
        <label for="tyoki">チョキ</label><br>
        <input type="radio" name="hand" id="pa" value="3">
        <label for="pa">パー</label><br>
        <label for="hand">次は何を出す？</label>
        <input type="hidden" name="win" value="<%= win || 0 %>">
        <input type="hidden" name="total" value="<%= total || 0 %>">
       <input type="submit" value="じゃんけん　ポン">

    </form>   
</body>
</html>